<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}">
</head>
<body class="main-body">

<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>

<main>
    <div class="upsert-form">
        <table th:object="${branch}">
            <tbody>
            <tr>
                <td><label>Branch Name </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{name}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Branch Type </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{type}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Branch Address </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{address}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Flag Active </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{flagActive}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Created Date </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{createdDate}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Created By </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{createdBy}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Updated Date </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{updatedDate}"></p>
                </td>
            </tr>
            <tr>
                <td><label>Updated By </label></td>
                <td> : </td>
                <td>
                    <p th:text="*{updatedBy}"></p>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <a class="blue-button create-button" th:href="@{/branch/list}">Back to Branch Index</a>
    </div>
</main>

<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>