<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{layout :: head}">
</head>
<body class="main-body">


<nav th:replace="~{layout :: navigation}"></nav>

<header th:replace="~{layout :: header (${breadCrumbs})}"></header>

<main>
    <div style="text-align: center">
        <div>
            <h1 th:text="${message}">
            </h1>
        </div>
        <div class="link-container">
            <a th:href="@{/branch/list}" class="blue-button">Back to Branch Index</a>
        </div>
    </div>
</main>

<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>